{
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  },
  "presets": ["@babel/env"],
  "plugins": [
    "@babel/plugin-transform-literals",
    "@babel/plugin-transform-spread",
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }]
  ]
}